body{
    font-family: "Poppins", serif !important;
}
.navbar-nav{
    padding-left: 35px !important;
    padding-right: 26px !important;
}

.navbar{
    background-color: #daac00 !important;
    height: 120px !important;
   
}
.navbar-expand-lg .navbar-nav .nav-link {
     padding-right:22px !important ;
     padding-left: 22px !important; 
}

.nav_section ul li a{
    color: white !important;
    font-size: 30px !important;
    font-weight: 300px !important;

}
.nav_section .form-control:focus {
    
    
    outline: none !important;
    box-shadow: none !important;
    
}

.nav_section .form-control{
    height: 50px !important;
    color: white !important;
}
.nav_section .btn{
    width: 70px;
}


/*first_banner*/
.first_banner{
    color: white;
    background-color: #fcc302;
    padding-top: 90px;
    padding-bottom: 120px;
}

.first_banner h1{
    font-size: 55px !important;
    font-weight: 400px !important;
    padding-bottom: 50px;
    margin-bottom: 0px !important;
    font-family: "Poppins", serif !important;
}
.first_banner p{
    font-size: 25px !important;
    padding-bottom: 50px !important;
    margin-bottom: 0px !important;
}
.first_banner img{
    padding-left: 100px !important;
}

.first_banner .btn{
    color: white;
   border-color: white;
   font-size: 20px !important;
}
.first_banner .baton{
    border: none;
    margin-right: 20px;
}


/*second_banner*/
.second_banner{
    margin-top: 140px ;
    margin-bottom: 140px !important;
}
.second_banner h2{
    font-size: 50px !important;
    font-weight: 400px !important;
    margin-bottom: 45px !important;
}
.second_banner p{
    font-size: 30px !important;
    line-height: 36px;
    margin-bottom: 45px !important;
}
.second_banner .btn{
    color: white;
    font-size: 20px;
    padding: 15px !important;
}
.second_banner .video_outline{
    position: relative;
    
  
}
.second_banner .second_video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 475px;
    width: 500px;
    padding-left: 108px;
}
.second_banner img{
    
    padding-top: 338px;
}

/*section_as*/
.section_as .second_video{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-40% , -30%);
    height: 200px;
    width: 360px;
}
.section_as .video_outline{
    position: relative;
 
}
/*title_hear*/
.title_hear{
    background-color: #fcc302;
    padding-top: 100px;
    padding-bottom: 10px;
}
.title_hear h1{
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 50px !important;
}
.title_hear P{
    font-size: 32px !important;
    margin-bottom: 90px !important;
}
.title_hear .Veterinarian h4{
    font-size: 36px !important;
    padding-top: 45px !important;
    padding-bottom: 15px !important;
}
.title_hear .Veterinarian p{
    font-size: 25px !important;
}
/*as a*/
.section_as{
    padding-top: 140px;
    padding-bottom: 140px !important;
}
.section_as h2{
    font-size: 50px !important;
    margin-bottom: 40px !important;
}
.section_as p{
    font-size: 28px !important;
    margin-bottom: 35px !important;
}
.section_as .btn{
    color: white !important;
    padding: 15px !important;
}



/*section_cat*/
.section_cat{
    background-color: #fcc302;
}

/*footer*/
.fotter_section{
    background-color: #343434;

}
.fotter_section a{
    text-decoration: none;
    color: white;
}
.fotter_section h3{
    color: white;
}
.fotter_section p{
    color: white;
}
.fotter_section form{
    width: 50%;
}


